.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(11, 62, 202);
}

.card {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  border-radius: 5px;
  box-shadow: 0.3rem 0.4rem 0.5rem #333;
}

.card .card-item h1 {
  margin: 2rem;
  padding: 1rem;
}

.card .card-item h3 {
  margin: 1rem;
  padding: 0.5rem;
  text-align: right;
}

.card .card-button {
  margin: 0 auto;
}

.card .card-button button {
  padding: 0.5rem 1rem;
  background-color: rgb(11, 62, 202);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer {
  margin-top: 3rem;
  color: white;
}